{% extends 'base.html' %}
{% block title %}
    <title>Registro de Almacen</title>
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registro de Almacen</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="producto">Producto</label>
              <select class="form-select" id="producto" name="producto" required>
                {% for producto in productos %}
                  <option value="{{ producto.id }}">{{ producto.nombre_producto }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="cantidad_producto">Cantidad del producto</label>
              <input type="number" class="form-control" id="cantidad_producto" name="cantidad_producto" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
      </div>
    </div>
</div>
{% endblock body %}
    