{% extends 'base.html' %}
{% block title %}
    <title>Registro de Productos</title>
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registro de Productos</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre del producto</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="{{ producto.nombre_producto }}" required>
            </div>
            <div class="mb-3">
              <label for="precioCompra" class="form-label">Precio de compra</label>
              <input type="number" step="0.01" class="form-control" id="precioCompra" name="precioCompra" value="{{ producto.precio_compra }}" required>
            </div>
            <div class="mb-3">
              <label for="precioVenta" class="form-label">Precio de venta</label>
              <input type="number" step="0.01" class="form-control" id="precioVenta" name="precioVenta" value="{{ producto.precio_venta }}" required>
            </div>
            <div class="mb-3">
              <label for="disponibilidad" class="form-label">Disponibilidad</label>
              <select class="form-select" id="disponibilidad" name="disponibilidad" required>
                <option value="1" {% if producto.disponibilidad %}selected{% endif %}>Disponible</option>
                <option value="0" {% if not producto.disponibilidad %}selected{% endif %}>Sin Disponibilidad</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required>{{ producto.descripcion }}</textarea>
            </div>
            <div class="mb-3">
              <div class="text-center">
                <img src="{{ producto.imagen.url }}" alt="Imagen del producto" class="img-thumbnail" style="width: 300px; height: 180px;">
              </div>
              <label for="imagen" class="form-label">Imagen</label>
              <input type="file" class="form-control" id="imagen" name="imagen">
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </form>
      </div>
    </div>
</div>
{% endblock body %}
    