{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Unerg Farmacy</title>
{% endblock title %}
    

{% block body %}
    <!-- Service Start -->
    <div class="container-xxl py-5" id="product">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 500px">
                <h1 class="display-6 mb-5">
                    ¡Encuentra lo que necesitas!
                </h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for registro in registros %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded h-100 p-5">
                            <div class="d-flex align-items-center ms-n5 mb-4">
            
                                <img
                                    class="img-fluid"
                                    src="{{ registro.producto.imagen.url }}"
                                    alt=""
                                />
                            </div>
                            <h4 class="mb-2">{{ registro.producto.nombre_producto }}</h4>
                            <p class="mb-4">
                                {{ registro.producto.descripcion }}
                            </p>
                            <a class="btn btn-light px-3" href="#">{{ registro.producto.precio_venta }}Bs</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
    
