{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock title %}


{% block css %}
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
  

{% block body %}

<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1><i class="fas fa-stethoscope"></i><i>INICIA SESIÓN</i></h1>
  </div>
  <div class="login-box">
    <form class="login-form" action="/login/" method="post">
      {% csrf_token %}
      <h2 class="login-head"><i class="fas fa-user-nurse"></i><i> Admin</i></h2>
      <div class="form-group">
        <label class="control-label"><i class="fas fa-users"></i> Usuario</label>
        <input class="form-control" type="text" name="username" id="email" placeholder="Usuario" />
      </div>
      <div class="form-group">
        <label class="control-label"><i class="fas fa-key"></i> Contraseña</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña" />
      </div>
      <div class="form-group">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
          <label class="form-check-label" for="form2Example3">Recordar Contraseña</label>
        </div>
        <a href="#!" class="text-body">Recuperar Clave</a>
      </div>
      <br>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" style="border-radius: 1rem;"><i class="fa fa-sign-in fa-lg fa-fw"></i>INICIA SESIÓN</button>
      </div><br>
      <div class="utility">
        <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Control de inventario ></a></p>
      </div>
    </form>
    <form class="forget-form" action="/login/" method="post">
      {% csrf_token %}
      <h3 class="login-head"><i class="fas fa-boxes"></i> <i>Control de inventario</i></h3> 
      <div class="form-group"> 
        <label class="control-label"><i class="fas fa-users"></i> Usuario</label>
        <input class="form-control" type="text" name="username" id="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <label class="control-label"><i class="fas fa-key"></i> Contraseña</label>
        <input class="form-control" type="password" name="password" id="password"  placeholder="Password" />
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
          <label class="form-check-label" for="form2Example3">Recordar Contraseña</label>
        </div>
        <a href="#!" class="text-body">Recuperar Clave</a>
      </div>
      <br>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block" style="border-radius: 1rem"><i class="fa fa-sign-in fa-lg fa-fw"></i>INICIA SESIÓN</button>
      </div>
      <div class="form-group mt-3">
        <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
      </div>
    </form>
  </div>
</section>
{% endblock body %}
{% block js %}
        
        <script src="{% static 'js/main.js' %}"></script>
        <!-- The javascript plugin to display page loading on top-->
        <script src="{% static 'js/plugins/pace.min.js' %}"></script>
        <!-- Page specific javascripts-->
        <script type="text/javascript" src="{% static 'js/plugins/chart.js' %}"></script>
        <script type="text/javascript">
        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
        });
        </script>
{% endblock js %}