{% extends 'base.html' %}
{% block title %}
    <title>Almacen</title>
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Productos en Almacen</h5>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Imagen</th>
                <th>Nombre del producto</th>
                <th>Precio de Venta</th>
                <th>En Disponibilidad</th>
                <th>Fecha de Entrada</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                    <tr>
                        <td>{{ registro.id }}</td>
                        <td><img src="{{ registro.producto.imagen.url }}" alt="Imagen del producto" class="img-thumbnail" style="width: 100px; height: 80px;"></td>
                        <td>{{ registro.producto.nombre_producto }}</td>
                        <td>{{ registro.producto.precio_venta }}</td>
                        <td>{{ registro.cantidad_producto }}</td>
                        <td>{{ registro.fecha_entrada }}</td>
                        <td>
                            <a href="{% url 'edit_warehouse' registro.id %}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'create_warehouse' %}"><button type="button" class="btn btn-primary">Agregar Producto al Almacen</button></a>
        </div>
      </div>
    </div>
</div>
{% endblock body %}